{% extends 'base.html.twig' %}

{% block title %}New LocalRooms{% endblock %}

{% block body %}
    <h1>Create new LocalRooms</h1>

    {{ include('local_rooms/_form.html.twig') }}

    <a href="{{ path('app_local_rooms_index') }}">back to list</a>
{% endblock %}
